    <footer>
      <hr>
      <div style="display:none">
      <a href="http://info.flagcounter.com/ZHAO"><img src="https://s10.flagcounter.com/count2/ZHAO/bg_FFFFFF/txt_000000/border_CCCCCC/columns_6/maxflags_40/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
      </div>
      <p>Copyright &copy; 2016 Bilge Theall, All Rights Reserved.</p>
    </footer>
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
</script>

  </body>
</html>
