<footer>
    <div style="display:none">
        <script type="text/javascript">writeFlagcount();</script><noscript></noscript>
    </div>
    <div class="container footer_bottom">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>Copyright &copy;&nbsp;{{ site.time | date: '%Y' }}&nbsp;<a href="/story">Bilge Theall</a>, All Rights Reserved. <!--&middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
    </div>
</footer>
<script type="text/javascript" src="/resource/js/jquery.min.js"></script>
<script type="text/javascript" src="/resource/js/bootstrap.min.js"></script>

<!--{% if page.url contains "gallery" %}-->
<script src="/resource/js/lightbox-plus-jquery.min.js"></script>
<!--{% endif %}-->

</body>
</html>