<section class="bordered">
    <div class="content">
        <br>
        <h2>Download StringEx</h2>
        <br>
        <p>Current version: 3.1.5, build 376, released Dec 09, 2016</p>
        <table class="table table-bordered">
            <thead>
            <tr>
              <th>Platform</th>
              <th>Download</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><img src="https://assets.onestore.ms/cdnfiles/external/uhf/long/9a49a7e9d8e881327e81b9eb43dabc01de70a9bb/images/microsoft-gray.png">
               Windows 10 (32/64 bit)
              </td>
              <td><a class="btn btn-success" href="https://www.microsoft.com/store/apps/9nnbwbqhhzx1">Windows Store</a></td>
            </tr>
            <tr>
              <td><img src="/resource/images/download/os_linux.png">
              Linux</td>
              <td><a class="btn btn-success disabled" href="javascript:;">Download</a></td>
            </tr>
            <tr>
                <td><img src="/resource/images/download/os_macosx.png">
                Mac OS</td>
                <td><a class="btn btn-success disabled" href="javascript:;">App Store</a></td>
            </tr>
            </tbody>
        </table>
        
        <br>
        <p>For Windows xp, Windows 7 32/64 bit and Windows 8 32/64 bit users, you can download the free version of StringEx from <a href="https://github.com/theall/theall.github.io/releases/download/v3.0.4/StringEx3.0.4-Setup.exe">here</a></p>
        <br>
        <hr>
        <h2>System Requirements</h2><br>
        <ul style="margin: 0px 36px;">
            <li>Intel Pentium / AMD Athlon processor or equivalent running at 1 Ghz or more</li>
            <li>512 MB RAM (1 GB RAM recommended)</li>
            <li>29 MB free hard drive space (50 MB recommended)</li>
        </ul>
    </div>
</section>