  <!-- START THE FEATURETTES -->
<div class="container marketing">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h5 class="featurette-heading">Merge & Replace</h5>
      <p class="lead">Merge up to four columns with simple template in one time.Customized snippet as you want.
      Enhance replace function let you replace source text with up to four columns.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" alt="Click to view merge/replace examples" src="/resource/images/gallery/merge_example.png" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" alt="Click to view split/match examples" src="/resource/images/gallery/split_example.png" data-holder-rendered="true">
    </div>
    <div class="col-md-7">
      <h5 class="featurette-heading">Split & Match</h5>
      <p class="lead">It has two ways to extract important information from source text.The result can be edit and transform as matrix text.The result can also be re-merged with template.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h5 class="featurette-heading">Comprehensive array of text process.</h5>
      <p class="lead">It providers a few useful functions to process text array efficiently.Including padding space/tab character, truncate text lines, sort text elements with more than 6 modes...</p>
      <p><a class="btn btn-lg btn-primary" href="/docs/screenshot gallery" role="button">Browse gallery</a></p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/resource/images/gallery/upper_first_char.png" data-holder-rendered="true">
    </div>
  </div>

</div>
  <!-- /END THE FEATURETTES -->