<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Merge</h2>
      <p>Merge and replace up to <em>four columns</em> in one time.Simplify template syntax with customizable snippet.</p>
      <p><a class="btn btn-default" href="/docs/merge/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Extract data</h2>
      <p>Two ways to pick up usable infomation from source text block.Load the result to remerge them with <em>template</em>.</p>
      <p><a class="btn btn-default" href="/docs/extract data/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Generate data</h2>
      <p>Rapidly insert four kinds of data:number,letter,date and time.General large random data with <em>template</em> and columns.</p>
      <p><a class="btn btn-default" href="/docs/content generator/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>