{% include head.html %}

    <div id="main" role="main" class="container">
      <div class="text">
       <b>Welcome to StringEx  home page!</b>
       <br>
       <br>
       <p><strong>StringEx</strong> is a utility for <strong>merging</strong> horizontal text.It can easily pick up   distinct portion from multi-line text, and merge up to 4 columns a time with a   small template.With StringEx's help,you can improve the efficiency of inputing   large text which including much redundant content, and let you make less   mistakes caused by hand inputing.<br>
         <br>
         <a href="download.html"><img class="screenshot" src="images/mainscreen.png" width="800" height="430" alt="Download StringEx Text Editor"></a><br>
       </p>
       <ul>
        <li><strong>Merge</strong> up to 4 columns of horizontal text with a small template. 
        <li><strong>Easily </strong>split block text into distinct columns of text. 
        <li>Match multi-groups in text with regular expression.
        <li>Quick <strong>assemble</strong> up to 4 columns.     
        <li>Quick general number sequence,alphabetic sequence,date sequence,time sequence and random data.
        <li><a href="/features.html">read more...</a><br>    
       </ul>
       <a class="btn btn-primary" href="/download">Download</a>
       <br>
    </div>

    {% include footer.html %}