{% include head.html %}

    <div id="main" role="main" class="container">
        <b>Change Log!</b><br><br>
        <li>Fix can't split while text contains both '\n' and '\r\n'.<BR>
        <li>Fix caret  sync issue
        while columns's lines are different. <BR>
        <li>Fix issue while dragging  colorbutton.<BR>
        <li>Error occurs in loding to columns. <BR>
        <li>Fix issue draggin in cell view. <BR>
        <li>Fixes  pos updating issue when display wait animation.<BR>
        <br>
        <b>Download</b><br>
        Current version: 3.0.4, build 196, released July 29, 2016
        <br><br>
        <!--<div class="text">
        StringEx is distributed as <b>Freeware</b>. You can download and use it for free, to make it better, you can donate to me.
        </div>
        <br>-->
        <table border=10 width=640>
            <tr>
                <th>Platform</th>
                <th>Support systems</th>
                <th>Download</th>
                <th>File Size</th>
            </tr>
            <tr>
                <td>Windows</td>
                <td>
                    Windows XP, 32bit<br>
                    Windows 7, 32bit<br>
                    Windows 8, 32bit<br>
                </td>
                <td><a href="https://github.com/theall/theall.github.io/releases/download/v3.0.4/StringEx3.0.4-Setup.exe">StringEx3.0.4-Setup.exe</a></td>
                <td>11,185KB</td>
            </tr>
            <tr>
                <td>Linux</td>
                <td></td>
                <td><a href=""></a></td>
                <td>0KB</td>
            </tr>
            <tr>
                <td>Mac OS/X</td>
                <td></td>
                <td><a href=""></a></td>
                <td>0KB</td>
            </tr>
        </table>
        <br>
    </div>

{% include footer.html %}