{% include head.html %}
  
  <div id="main" role="main" class="container">
   <b>Merge & Replace</b>
   <br>
   <ul>
       <li>Supports merge and replace up to 4 columns in one time.
       <li>Easily customize snippet.
   </ul>
   <b>Pick up columns</b>
   <br>
   <ul>
    <li>Filtering duplicated text, and split into columns.
    <li>Search matchs in text with regular expression.
   </ul>
   <b>Data general</b>
   <br>
   <ul>
    <li>Four kinds of fast data general:number,letter,date and time.
    <li>Support rapidly general random data with template.
   </ul>
   <b>Editor</b>
   <br>
   <ul>
   <li>Generally edit function:paste,copy,cut,delete,select,undo/redo.
   <li>Remove empty lines.
   <li>Strip left,right.
   <li>Padding space in end of lines.
   <li>Alignment left,right,center.
   <li>Case convert.
   <li>Truncate left and right.
   <li>Sort as alphabetic,number and random.
   </ul>
   <b>Other features</b>
   <br>
   Line number, font color, change eol format, using regular expression, simple search and replace, assemble, resize logical lines, and more.<br>
   <br>
   </div>

{% include footer.html %}
